@using SGC.Areas.Sistema.Models
@model SGC.Areas.Global.Models.ConductorModel
@{
    ViewBag.Title = "SGC | Consulta Carnés";
    Layout = "~/Areas/Sistema/Views/MP_Vista.cshtml";

    var Sol = (SesionModelo)Session[SesionModelo.SessionName];
}


<div id="main" role="main">
    <div id="ribbon">
        <ol class="breadcrumb">
            <img src="/Recursos/Img/IconoPagina.png" style="width: 35px" />&nbsp&nbsp
            <li><b>CONSULTA CARNÉ</b></li>
        </ol>
    </div>
    <div id="content">
        <div class="well NoPadding">
            <button id="btn_buscar" class="btn btn-primary" onclick="Consultar();">
                <i class="fa fa-search"></i> Consultar
            </button>
            <button id="btn_expotar" class="btn btn-success" onclick="AC_Exportar();">
                <i class="fa fa-table"></i> Exportar
            </button>

        </div>
        <form id="checkout-form" class="smart-form" novalidate="novalidate">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <section class="smart-form col-sm-4 col-md-4 col-lg-4">
                    <div class="col col-4" style="margin-top:8px">
                        <label>
                            Descripción
                        </label>
                    </div>
                    <div class="col col-8">
                        <label class="input">
                            <i class="icon-append fa fa-search cursorMano" onclick="Consultar();"></i>
                            <input id="vc_tran_clve_find" type="text" name="vc_tran_clve_find" value="@Model.mme.e_tran.vc_tran_clve_find" placeholder="Consultar por nombre, código y doc. identidad.">
                        </label>
                    </div>
                </section>

                <section class="smart-form col-sm-4 col-md-4 col-lg-4">
                    <div class="col col-4" style="margin-top:8px">
                        <label>
                            Emp. de Transporte
                        </label>
                    </div>
                    <div class="col col-8">
                        <label class="select">
                            @Html.DropDownListFor(m => m.mme.me_conductor.e_empresa_trans.nu_id_empresa_trans, Model.cb_empresa_transporte,
                            new
                            {
                                atributo    = "mme.me_conductor.e_empresa_trans.nu_id_empresa_trans",
                                id          = "nu_id_empresa_trans"
                            })
                            <i></i>
                        </label>
                    </div>
                </section>
            </div>
            
        </form>
        <div id="Contenedor_Carne" class="well col col-12 table-responsive">
            @Html.Partial("VP_ConsultaCarne", Model)
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <span class="label label-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span> Consultar: Sólo muestra los primeros 50 resultados.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <span class="label label-info">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span> Exportar: Muestra todos los resultados sin filtro.
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script src="/Scripts/Validacion.js"></script>
<script type="text/javascript">

    var Peticion = false;
    var Area = "Global";
    var Msg = "";
    var version = 1;

    $(document).ready(function () {

        $("#Tabla_Carne").DataTable({
            "order": []
        });
        
    });

    $('#vc_tran_clve_find').keypress(function (e) {
        if (e.which == 13) {
            Consultar();
            return false;
        }
    });


    function Consultar() {

        var e_tran = {
            vc_tran_clve_find: $('#vc_tran_clve_find').val()
        }
        var e_empresa_trans = {
            nu_id_empresa_trans : parseInt($('#nu_id_empresa_trans').val())
        }
        var me_conductor = { e_empresa_trans: e_empresa_trans }
        var mme = { e_tran: e_tran, me_conductor: me_conductor }
        var M = { mme: mme }

        if (Peticion) { EnProceso(Msg); return false; }

        Msg = "Consultando carnés, espere un momento...";
        NuevaPeticion(Msg);
        $.ajax({
            url: '@Url.RouteUrl("AC_Sel_ConsultaCarne")',
            type: "POST",
            data: JSON.stringify(M),
            contentType: "application/json; charset=utf-8",
            success: function (r) {
                $('#Contenedor_Carne').html(r);
                $("#Tabla_Carne").DataTable();
                setTimeout('Entiendo()', 1000);
            }
        });
    }

    function V_Get_Cliente(id) {

        if (Peticion) { EnProceso(Msg); return false; }

        location.href = "@Url.RouteUrl("V_Get_ConsultaCarne")" + "?id=" + id;
    }


    function AC_Exportar() {
        if (Peticion) { EnProceso(Msg); return false; }
        
        location.href = "@Url.RouteUrl("AC_Exportar_Consulta_Carne")";
    }


</script>
